"*":
  "accents-ui":
    accentColor:
      alpha: 1
      blue: 42
      green: 210
      red: 55
    hexColor: "#37d22a"
    useSyntax: false
  "autocomplete-bibtex": {}
  "autocomplete-plus":
    confirmCompletion: "enter"
    minimumWordLength: 2
    useCoreMovementCommands: false
  "bracket-matcher":
    autocompleteBrackets: false
    autocompleteSmartQuotes: false
  "close-tags": {}
  "color-picker": {}
  core:
    autoHideMenuBar: true
    closeEmptyWindows: false
    disabledPackages: [
      "an-color-picker"
      "webbox-color"
      "eval-javascript"
      "language-todotxt"
      "select-rectangle"
      "open-on-github"
      "linter"
      "linter-jshint"
      "minimap"
      "toggle-markdown-task"
      "markdown-themeable-pdf"
      "linter-clang"
      "git-plus"
      "pinned-tabs"
      "atom-bracket-highlight"
      "atom-brackets-glow"
      "gpp-compiler"
      "lucid-tabs"
      "pane-manager"
    ]
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      ".bbl"
      ".aux"
      ".toc"
      ".fls"
      ".zip"
      ".pdf"
      ".fdb_latexmk"
      ".aux"
      ".log"
    ]
    openEmptyEditorOnStart: false
    packagesWithKeymapsDisabled: [
      "es6-javascript"
    ]
    telemetryConsent: "no"
    themes: [
      "jsartisan-dark-minimalistic-ui"
      "dracula-theme"
    ]
  editor:
    autoIndentOnPaste: false
    backUpBeforeSaving: true
    fontSize: 13
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
    tabLength: 4
    tabType: "soft"
  "exception-reporting":
    userId: "8252ac7e-b5fe-d698-f761-0cb7c4b1ed8d"
  gist: {}
  "gpp-compiler": {}
  hidpi: {}
  latex:
    openResultAfterBuild: false
    viewerPath: "/usr/bin/evince"
  linter:
    errorPanelHeight: 50
  "linter-gcc":
    gccLintOnTheFly: true
    gccSuppressWarnings: true
  "markdown-preview":
    useGitHubStyle: true
  minimap:
    absoluteMode: true
  pigments: {}
  "pinned-tabs":
    animation: true
    coloredIcons: true
  pomodoro: {}
  "split-diff":
    diffWords: true
    ignoreWhitespace: true
    leftEditorColor: "red"
    rightEditorColor: "green"
    syncHorizontalScroll: true
  tabs: {}
  tasks: {}
  "tree-view":
    hideIgnoredNames: true
  welcome:
    showOnStartup: false
  wordcount: {}
".console.python.text":
  editor:
    tabLength: 4
".diff.source":
  editor:
    tabLength: 4
".gfm.source":
  editor:
    tabLength: 4
".html.text.vue":
  editor:
    tabLength: 4
".python.text.traceback":
  editor:
    tabLength: 4
".text.todo":
  editor:
    tabLength: 4
".text.todotxt":
  editor:
    tabLength: 4
