"*":
  "accents-ui":
    accentColor:
      alpha: 1
      blue: 42
      green: 210
      red: 55
    hexColor: "#37d22a"
    useSyntax: false
  "autocomplete-plus":
    confirmCompletion: "enter"
    minimumWordLength: 2
    useCoreMovementCommands: false
  "close-tags": {}
  core:
    autoHideMenuBar: true
    disabledPackages: [
      "an-color-picker"
      "webbox-color"
      "eval-javascript"
      "language-todotxt"
      "select-rectangle"
      "open-on-github"
      "linter"
      "linter-jshint"
      "minimap"
      "pomodoro"
      "toggle-markdown-task"
      "markdown-themeable-pdf"
      "linter-clang"
      "git-plus"
      "pinned-tabs"
      "atom-bracket-highlight"
      "atom-brackets-glow"
    ]
    openEmptyEditorOnStart: false
    packagesWithKeymapsDisabled: [
      "es6-javascript"
    ]
    themes: [
      "jsartisan-dark-minimalistic-ui"
      "dracula-theme"
    ]
  editor:
    autoIndentOnPaste: false
    backUpBeforeSaving: true
    fontSize: 18
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
    tabLength: 4
    tabType: "soft"
  "exception-reporting":
    userId: "8252ac7e-b5fe-d698-f761-0cb7c4b1ed8d"
  "gpp-compiler": {}
  hidpi: {}
  linter:
    errorPanelHeight: 50
  "linter-gcc":
    gccLintOnTheFly: true
    gccSuppressWarnings: true
  "markdown-preview":
    useGitHubStyle: true
  minimap:
    absoluteMode: true
  pigments: {}
  "pinned-tabs":
    animation: true
    coloredIcons: true
  pomodoro: {}
  "split-diff":
    diffWords: true
    ignoreWhitespace: true
    leftEditorColor: "red"
    rightEditorColor: "green"
    syncHorizontalScroll: true
  tabs: {}
  tasks: {}
  welcome:
    showOnStartup: false
".console.python.text":
  editor:
    tabLength: 4
".diff.source":
  editor:
    tabLength: 4
".gfm.source":
  editor:
    tabLength: 4
".python.text.traceback":
  editor:
    tabLength: 4
".text.todo":
  editor:
    tabLength: 4
".text.todotxt":
  editor:
    tabLength: 4
